@model WEBBANTBDTK.ModelViews.RegisterViewModel

@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style type="text/css">
        .form_par {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: greenyellow;
        }

        .login-form {
            border-radius: 20px;
        }

            .login-form input {
                border: none;
                border-bottom: 1px solid grey;
            }

                .login-form input:focus {
                    outline: none;
                }

        .submit_content {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .login-form button {
            border-radius: 10px;
        }
    </style>
}

    <main class="main-content">
        <div class="login-register-area section-space-y-axis-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 pt-12 pt-lg-12 form_par">
                        <form asp-action="DangkyTaiKhoan">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="login-form">
                                <h4 class="login-title">Đăng ký tài khoản</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Họ và Tên</label>
                                        <input type="text" asp-for="FullName" placeholder="Họ và Tên">
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Địa chỉ Email</label>
                                        <input type="email" asp-for="Email" placeholder="Địa chỉ Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Số điện thoại</label>
                                        <input type="tel" asp-for="Phone" placeholder="Số điện thoại">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mật khẩu</label>
                                        <input type="password" asp-for="Password" placeholder="Mật khẩu">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Nhập lại mật khẩu</label>
                                        <input type="password" asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 submit_content">
                                        <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Đăng ký</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

